.footer-contain{
    font-family: MyWebFont;
    justify-content: space-between;
    padding: 40px 50px;
    display: flex;
    color: #EBEBEB;
    background-color: #272727;
}

.list-cat ul{
    padding:0;
    list-style: none;
}
.list-cat a{
    color: #737276;
}
.submit-trial{
    background-color: #DA2127;
    color: #EBEBEB;
}
