body{
    font-family: MyWebFont;
}
.banner-contain .owl-nav{
    position: absolute;
    top: 44%;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 40px;
}
.owl-nav button{
    width:46px;
    height:46px;
    background-color: #FFFFFF !important;
    border-radius: 100%;
}
.owl-nav span{
    /* display: none; */
    color: black;
    font-size: xx-large;
    line-height: 20px;
}
/* finding club  */
.finding-clb{
    margin-top: 8vh;
}
.title{
    font-size: 35px;
    line-height: 55px;
    text-align: center;
    font-family: MyWebFont;
}
.search-clb-contain{
    display: flex;
    justify-content: space-between;
    padding: 10px 20vw;
}
.drop-box{
    width:229px;
    height:22px;

}
select{
    width: 100%;
}
.box-search{
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    color: #777777;
}
.result-contain{
    display:flex;
    justify-content: space-between;
    padding: 50px 110px;
}
.map-clb{
    width:40vw;
    height:320px;
}
.clb-contain{
    max-width: 40vw;
}
.clb-logo{
    text-align: center;
}
.clb-logo img{
    max-width: 100%;
    height: auto;
}
.clb-name{
    text-align: center;
    margin-top: 8px;
}
.clb-detail .name{
    margin-top: 32px;
}
/* service contain  */
.service-contain{
    background: #212126;
    color: #ffff;
}
.title-white{
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 55px;
    padding: 80px 0;
}
#img{
    width:100%;
    height: auto;
}
.up-side{
    display:flex;
}
.content-title{
    color: #FFFFFF;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    position: absolute;
    margin-top: -245px;
    width: 100%;
}
.info-group{
    display:flex;
}
.info-title{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.info-box{
    padding: 40px 140px;
    max-width: 33vw;
}
.red-line{
    width: 100%;
    height: 1px;
    margin: 16px 0;
    background-color: #DA2127;
}